*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
}

/* #app {
 padding: 30px 0;
  background: #dfdfdf;
  position: relative;
  margin: auto;
} */

.box {
  background: red;
  position: absolute;
}

.circle {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  background-color: #222;
}
.circle-game {
  margin: 50px auto;
  background: #dfdfdf;
  position: relative;
}
.alert {
  background: red;
  color: white;
  font-size: 18px;
}