*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.box {
  background: red;
  position: absolute;
}

.circle {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;

}
.circle-game {
  margin: 50px auto;
  background: #dfdfdf;
  position: relative;
}
.alert {
  background: red;
  color: white;
  font-size: 18px;
}